POSTGRES_DB=dogselector
POSTGRES_USER=dogselector
POSTGRES_PASSWORD=dogselector
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SECRET_KEY='django-insecure-dftm-k8rj&_+0trv4s_gamae5f&^h#$w459(!(z$kqc*+7w64='
DJANGO_DEBUG=1